.faq {

}

.faq__item {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.faq__answer {
  opacity: 0;
  max-height: 0;
  transition: all .4s;
  overflow-y: auto;
  a{
    color: var(--main);
    transition: all #{$transition-duration}s;
  }
  a:hover, a:active, a:focus{
    color: var(--body);
  }
}

.faq__answer.active {
  opacity: 1;
  max-height: 200px;
  transition: all .4s;
}