.logo{
  width: clamp(40px, #{math.div(9600,$layout-width)}vw,80px);
  height: clamp(25px, #{math.div(6000,$layout-width)}vw,50px);
  &:hover{
    .logo__text{
      fill: var(--primary);
    }
  }
}
.logo__text{
  fill: var(--main);
  transition: all #{$transition-duration}s;
}