.site-features{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-features__item{
  margin-bottom: 15px;
  font-size: clamp(14px, #{math.div(2000, $layout-width)}vw, 20px);
  transition: all #{$transition-duration}s;
  min-width: max-content;
  margin-right: 16px;
  i{
    margin-right: 8px;
  }
}
.site-features__item:nth-child(odd){
  color: var(--primary);
}
@media (min-width: #{map-get($breakpoints, 'sm')}){
  .site-features{
    flex-direction: row;
  }
}
@media (min-width: #{map-get($breakpoints, 'md')}){
  .site-features{
    flex-direction: column;
  }
  .site-features__item{
    cursor: zoom-in;
    &:hover{
      transform: scale(2) translateX(25%);
    }
  }
}