.step__wrap-img {
  border-right: 1px solid var(--primary);
  padding: 30px 0 30px 30px;
  position: relative;
  &:after, &:before{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: var(--primary);
    right: -10px;
    display: block;
  }
  &:before{
    top:15px;
  }
  &:after{
    bottom: 15px;
  }
}
.step__img{
  max-width: 80%;
  height: auto;
}