.swiper_popular, .swiper_marks{
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}

.swiper_marks .swiper-slide{
  height: calc((100% - 30px) / 2) !important;
}

.swiper__button {
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: opacity #{$transition-duration}s;
  opacity: .7;
  &:hover{
    opacity: 1;
  }
  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

